version: '3.8'

services:
  # Production версия
  nexx-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nexx-prod
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - nexx-network

  # Development версия
  nexx-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nexx-dev
    ports:
      - "5173:5173"
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - nexx-network

networks:
  nexx-network:
    driver: bridge
